@define-color bg-color rgba(60, 65, 60, 1.0);               /* #3C413C */
@define-color bg-color-tray rgba (60, 65, 68, 1.0);         /* #3C4144 */
@define-color bg-color-0 rgba (60, 65, 68, 1.0);            /* #3C4144 */
@define-color bg-color-1 rgba(71, 95, 148, 0.2);            /* #475f94 */
@define-color bg-color-2 rgba(16, 122, 176, 1.0);           /* #107AB0 */
@define-color bg-color-3 rgba(1, 115, 116, 1.0);            /* #017374 */
@define-color bg-color-4 rgba(31, 59, 77, 1.0);             /* #1F3B4D */
@define-color bg-color-5 rgba(16, 166, 116, 0.2);           /* #10A674 */
@define-color bg-color-6 rgba(73, 132, 184, 0.2);           /* #4984B8 */
@define-color bg-color-7 rgba(0, 1, 51, 1.0);               
@define-color bg-color-8 rgba(8, 120, 127, 0.2);            /* #08787F */
@define-color bg-color-9 rgba(33, 71, 97, 0.2);             /* #214761 */
@define-color bg-color-10 rgba(108, 52, 97, 0.2);           /* #6C3461 */
@define-color bg-color-11 rgba(0, 82, 73, 0.2);             /* #005249 */
@define-color bg-color-12 rgba(49, 102, 138, 1.0);          /* #31668A */
@define-color bg-color-13 rgba(106, 110, 9, 0.2);           /* #6A6E09 */
@define-color bg-color-14 rgba(91, 124, 153, 0.2);          /* #5B7C99 */
@define-color bg-color-15 rgba(60, 65, 68, 0.2);            /* #1D2021 */
@define-color bg-color-16 rgba(41, 41, 61, 0.2);            /* #29293D  */

@define-color fg-color rgba (243, 244, 245, 1.0);           /* #f3f4f5 */
@define-color alert-bg-color rgba (189, 44, 64, 1.0);       /* #bd2c40 */
@define-color alert-fg-color rgba (255,255,255, 1.0);       /* #FFFFFF */
@define-color inactive-fg-color rgba(144, 153, 162, 1.0);   /* #9099a2 */
@define-color inactive-bg-color rgba(64, 69, 82, 1.0);      /* #404552 */

* {
    /* border: 1px black; */
    /* border-radius: 0; */
    font-family: VictorMono, FontAwesome, Material Icons, sans-serif;
    font-size: 16px;
    min-height: 0;
    opacity: 1.0;

}

window#waybar {
    background-color: rgba(43, 48, 59, 0.0);
    border: 1px solid rgba(100, 114, 125, 0.0);
    border-radius: 10px;
    /* border-bottom: none; */
    color: @fg-color;
    transition-property: background-color;
    transition-duration: .5s;
    margin: 15px 5px 0 5px;
}

window#waybar.hidden {
    opacity: 0.4;
}

window#waybar.termite {
    background-color: @bg-color;
}

window#waybar.chromium {
    background-color: @bg-color;
    border: none;
}

.modules-right .module {
    border: 1.5px outset @bg-color;
    border-radius: 0 10px 10px 10px;
    padding: 0 15px 0 8px;
    margin: 10px 4px 0 4px;
}

.modules-left .module {
    margin: 0 4px;
}

#workspaces {
    background-color: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
    border-radius: 10px;
    /* border-bottom: none; */
    color: @fg-color;
    transition-property: background-color;
    transition-duration: .5s;
    margin: 10px 10px 0 10px;
}

#workspaces button {
    padding: 0 5px;
    /* background-color: rgba (71, 95, 148, 0.3); */
    background-color: transparent;
    color: @fg-color;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid @fg-color;
}

#workspaces button.active {
    background-color: @bg-color;
    border-bottom: 3px solid @fg-color;
}

#workspaces button.urgent {
    background-color: @alert-bg-color;
}

#mode {
    padding: 0 10px;
    background-color: @bg-color;
    border-bottom: 3px solid @fg-color;
}

#disk {
    background-color: @bg-color-10;
}

#disk.home {
    background-color: @bg-color-8;
}

#clock {
    margin-right: 10px;
    background-color: @bg-color-1;
    color: @fg-color;
}

#battery {
    background-color: @bg-color-4;
    color: @fg-color;
}
#battery.charging {
    color: @fg-color;
    background-color: @bg-color;
}
#battery.warning:not(.charging) {
    color: @alert-fg-color;
    background-color: @alert-bg-color;
}
#battery.critical:not(.charging) {
    background-color: @alert-bg-color;
    color: @fg-color;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-bat0,
#custom-bat0.charging {
    color: @fg-color;
    background-color: @bg-color-10;
}
#custom-bat0.warning:not(.charging):not(.full) {
    color: @alert-fg-color;
    background-color: @alert-bg-color;
}
#custom-bat0.critical:not(.charging):not(.full) {
    background-color: @alert-bg-color;
    color: @fg-color;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    background-color: @bg-color-6;
    color: @fg-color;
}

#pulseaudio {
    background-color: @bg-color-12;
    color: @fg-color;
}

#pulseaudio {
    background-color: @bg-color-9;
    color: @fg-color;
}

#cpu {
    background-color: @bg-color-13;
    color: @fg-color;
}

#memory {
    background-color: @bg-color-5;
    color: @fg-color;
}

#custom-gpu-usage {
    padding-right: 8px;
    background-color: @bg-color-11;
    color: @fg-color;
    margin-right: 4px;
}

@keyframes blink {
    to {
        background-color: @fg-color;
        color: @bg-color;
    }
}

label:focus {
    background-color: @bg-color;
}

#network.disconnected {
    background-color: @alert-bg-color;
}

#pulseaudio.muted {
    background-color: @inactive-bg-color;
    color: @inactive-fg-color;
}

.icon {
  margin-right: 10px;
}
